@import "../../Assets/styles/mixin", "../../Assets/styles/var";

section.section_03 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 13rem 0;
  .inner_03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 2rem;
  }
  .title {
    color: $green;
  }
  .Projects-container {
    width: 100%;
    max-width: 110rem;
    .tab-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        width: 50%;
        font-size: 2.8rem;
        padding: 2rem 0;
        background-color: transparent;
        font-weight: 200;
        border-bottom: 1px solid #222;

        &.on,
        &:hover {
          border-radius: 2rem 2rem 0 0;
          color: $green;
          font-weight: 300;
        }
        &.on {
          border: 1px solid #222;
          border-bottom: unset;
        }
      }
    }

    .list-container {
      width: 100%;
      padding: 1rem 0 0;
      .list {
        width: 100%;
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;

          .left-part {
            .img-box {
              width: 28.5rem;
              height: 15rem;
              overflow: hidden;
              position: relative;
              img {
                object-fit: cover;
                transition: transform 0.3s;
                width: 100%;
                height: 100%;
              }

              .img-hover {
                width: 100%;
                height: 100%;
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2222225d;
                align-items: center;
                justify-content: center;
                span {
                  color: #fff;
                  border-radius: 2rem;
                  background-color: #222;
                  text-align: center;
                  line-height: 4rem;
                  padding: 0 1rem;
                  color: $green;
                }
              }
            }
          }

          .right-part {
            width: 50%;
            ul {
              li {
                line-height: 1.6;
                text-align: right;
                &:first-of-type {
                  font-weight: 700;
                  font-size: 1.8rem;
                }
              }
            }
          }

          &:hover {
            padding: 0 2rem;
            transition: padding 0.3s;
            .img-box {
              img {
                transition: transform 0.3s;
                transform: scale(1.2);
              }

              .img-hover {
                display: flex;
              }
            }

            .right-part {
              ul {
                li {
                  &:first-of-type {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  section.section_03 .Projects-container {
    max-width: unset;
  }
}
@media screen and (max-width: 480px) {
  section.section_03 .Projects-container .list-container .list a {
    padding: 1rem 0;
    .left-part .img-box {
      width: 20.5rem;
      height: 10rem;
    }
    .right-part {
      ul li {
        font-size: 1.4rem;
      }
    }
  }
}
