section.section_03 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 13rem 0;
}
section.section_03 .inner_03 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 2rem;
}
section.section_03 .title {
  color: #19a661;
}
section.section_03 .Projects-container {
  width: 100%;
  max-width: 110rem;
}
section.section_03 .Projects-container .tab-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section.section_03 .Projects-container .tab-buttons button {
  width: 50%;
  font-size: 2.8rem;
  padding: 2rem 0;
  background-color: transparent;
  font-weight: 200;
  border-bottom: 1px solid #222;
}
section.section_03 .Projects-container .tab-buttons button.on, section.section_03 .Projects-container .tab-buttons button:hover {
  border-radius: 2rem 2rem 0 0;
  color: #19a661;
  font-weight: 300;
}
section.section_03 .Projects-container .tab-buttons button.on {
  border: 1px solid #222;
  border-bottom: unset;
}
section.section_03 .Projects-container .list-container {
  width: 100%;
  padding: 1rem 0 0;
}
section.section_03 .Projects-container .list-container .list {
  width: 100%;
}
section.section_03 .Projects-container .list-container .list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
section.section_03 .Projects-container .list-container .list a .left-part .img-box {
  width: 28.5rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
}
section.section_03 .Projects-container .list-container .list a .left-part .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
}
section.section_03 .Projects-container .list-container .list a .left-part .img-box .img-hover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(34, 34, 34, 0.3647058824);
  align-items: center;
  justify-content: center;
}
section.section_03 .Projects-container .list-container .list a .left-part .img-box .img-hover span {
  color: #fff;
  border-radius: 2rem;
  background-color: #222;
  text-align: center;
  line-height: 4rem;
  padding: 0 1rem;
  color: #19a661;
}
section.section_03 .Projects-container .list-container .list a .right-part {
  width: 50%;
}
section.section_03 .Projects-container .list-container .list a .right-part ul li {
  line-height: 1.6;
  text-align: right;
}
section.section_03 .Projects-container .list-container .list a .right-part ul li:first-of-type {
  font-weight: 700;
  font-size: 1.8rem;
}
section.section_03 .Projects-container .list-container .list a:hover {
  padding: 0 2rem;
  transition: padding 0.3s;
}
section.section_03 .Projects-container .list-container .list a:hover .img-box img {
  transition: transform 0.3s;
  transform: scale(1.2);
}
section.section_03 .Projects-container .list-container .list a:hover .img-box .img-hover {
  display: flex;
}
section.section_03 .Projects-container .list-container .list a:hover .right-part ul li:first-of-type {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  section.section_03 .Projects-container {
    max-width: unset;
  }
}
@media screen and (max-width: 480px) {
  section.section_03 .Projects-container .list-container .list a {
    padding: 1rem 0;
  }
  section.section_03 .Projects-container .list-container .list a .left-part .img-box {
    width: 20.5rem;
    height: 10rem;
  }
  section.section_03 .Projects-container .list-container .list a .right-part ul li {
    font-size: 1.4rem;
  }
}