@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.opacity {
  animation: opacity .5s 0s ease forwards;
}

h1.title {
  font-size: 6rem;
  font-weight: 800;
}

.sub-title {
  font-size: 4rem;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.sticky-wrap {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

section.section_02-1,
section.section_02-2,
section.section_02-3 {
  width: 100%;
  height: 100vh;
  padding: 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
section.section_02-1 .inner_02,
section.section_02-2 .inner_02,
section.section_02-3 .inner_02 {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  section.section_01 .inner_01 {
    width: 60rem;
    flex-direction: column;
    gap: 3rem 0;
  }
  section.section_01 nav.home-nav ul {
    gap: 0.8rem 0;
  }
  section.section_01 nav.home-nav ul li {
    height: 42px;
  }
  section.section_01 nav.home-nav ul li a {
    font-size: 5rem;
  }
  section.section_01 nav.home-nav ul li:hover a {
    font-size: 6rem;
  }
  section.section_01 .bottom-text {
    font-size: 11rem;
  }
  .row-br {
    display: none;
  }
}