@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.opacity {
  animation: opacity .5s 0s ease forwards;
}

h1.title {
  font-size: 6rem;
  font-weight: 800;
}

.sub-title {
  font-size: 4rem;
  font-weight: 700;
}

.wrapper {
  max-width: 1920px;
  height: 100%;
}

.sticky-wrap {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

section.section_02-1,
section.section_02-2,
section.section_02-3 {
  width: 100%;
  height: 100vh;
  padding: 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
section.section_02-1 .inner_02,
section.section_02-2 .inner_02,
section.section_02-3 .inner_02 {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .row-br {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  h1.title {
    font-size: 5rem;
  }
  .sub-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  h1.title {
    font-size: 4rem;
  }
  .sub-title {
    font-size: 2.25rem;
  }
}