@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.opacity {
  animation: opacity .5s 0s ease forwards;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.header .logo-part,
.header .gnb {
  width: 112px;
  height: 112px;
  position: absolute;
  cursor: pointer;
  border-radius: 2rem;
}
.header .logo-part {
  overflow: hidden;
  left: 30px;
  top: 30px;
}
.header .logo-part a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .logo-part .logo {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  color: #19a661;
}
.header .logo-part .logo span {
  font-size: 3rem;
  font-weight: 900;
}
.header .logo-part .logo span:last-of-type {
  font-weight: 700;
}
.header .logo-part .home-text {
  transform: translate(-50%, 112px);
}
.header .logo-part:hover .logo,
.header .logo-part:hover .home-text {
  transition: all 0.5s;
}
.header .logo-part:hover .logo {
  transform: translate(-50%, 112px);
}
.header .logo-part:hover .home-text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .gnb {
  right: 20px;
  top: 30px;
  color: #19a661;
  background-color: transparent;
}
.header .gnb .hamburger {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header .aside-menu .menu-ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 30vw;
  height: 100%;
  background-color: #19a661;
  box-shadow: -3px 0px 9px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.header .aside-menu .menu-ul li {
  line-height: 1.8;
  color: #fff;
}
.header .aside-menu .drop-menu {
  padding-left: 2rem;
  font-size: 1.6rem;
  display: block;
}
.header .aside-menu .drop-menu .sub-a {
  font-size: 1.8rem;
}
.header .aside-menu .drop-menu li {
  line-height: 1.6;
  font-weight: 300;
}
.header .aside-menu .x-mark {
  color: #fff;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  background-color: transparent;
  z-index: 2;
}
.header .aside-menu .menu-back {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.header .aside-menu.open {
  opacity: 1;
  visibility: visible;
}
.header .aside-menu.open .menu-ul {
  transform: translateX(0);
}
.header .aside-menu.open .menu-back {
  opacity: 1;
  pointer-events: auto;
}

.detail-header .logo-part,
.detail-header .gnb {
  top: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header .aside-menu .menu-ul {
    width: 70vw;
  }
  .header .aside-menu .menu-ul li {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 480px) {
  .header .logo-part {
    left: 10px;
    top: 0;
  }
  .header .gnb {
    right: 10px;
    top: 0;
  }
}