@import "../../Assets/styles/mixin", "../../Assets/styles/var";

@include keyframes(opacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.opacity {
  @include animation("opacity .5s 0s ease forwards");
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;

  .logo-part,
  .gnb {
    width: 112px;
    height: 112px;
    position: absolute;
    cursor: pointer;
    border-radius: 2rem;
  }
  .logo-part {
    overflow: hidden;
    left: 30px;
    top: 30px;
    a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .logo {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
      color: $green;

      span {
        font-size: 3rem;
        font-weight: 900;

        &:last-of-type {
          font-weight: 700;
        }
      }
    }
    .home-text {
      transform: translate(-50%, 112px);
    }
    &:hover {
      .logo,
      .home-text {
        transition: all 0.5s;
      }
      .logo {
        transform: translate(-50%, 112px);
      }

      .home-text {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .gnb {
    right: 20px;
    top: 30px;
    color: $green;
    background-color: transparent;
    .hamburger {
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .aside-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .menu-ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 30vw;
      height: 100%;
      background-color: $green;
      box-shadow: -3px 0px 9px rgba(0, 0, 0, 0.25);
      padding: 3rem;
      z-index: 2;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      border-radius: 2rem 0 0 2rem;
      li {
        line-height: 1.8;
        color: #fff;
      }
    }

    .drop-menu {
      padding-left: 2rem;
      font-size: 1.6rem;
      display: block;
      .sub-a {
        font-size: 1.8rem;
      }
      li {
        line-height: 1.6;
        font-weight: 300;
      }
    }
    .x-mark {
      color: #fff;
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 20px;
      background-color: transparent;
      z-index: 2;
    }

    .menu-back {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    &.open {
      opacity: 1;
      visibility: visible;
      .menu-ul {
        transform: translateX(0);
      }
      .menu-back {
        opacity: 1;
        pointer-events: auto;
      }
    }
    hr {
      border: none;
      height: 1px;
      background-color: #fff;
    }
  }
}

.detail-header {
  .logo-part,
  .gnb {
    top: 0;
  }
  .logo-part .logo {
    color: $green !important;
  }
  .logo-part .home-text {
    color: #222 !important;
  }
  .gnb .hamburger {
    color: $green !important;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .header {
    .aside-menu {
      .menu-ul {
        width: 70vw;

        li {
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }

    .gnb {
      right: 10px;
      top: 0;
    }

    .logo-part {
      left: 10px;
      top: 0;
      &:hover {
        .logo,
        .home-text {
          transition: unset;
        }
        .logo {
          transform: translate(-50%, -50%);
        }

        .home-text {
          display: none;
        }
      }
    }
  }
  .detail-header {
    .logo-part,
    .gnb {
      top: -10px;
    }
  }
}
@media screen and (max-width: 480px) {
}
