section.section_01 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem 0;
  padding-bottom: 7rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 2.5rem;
}
section.section_01 .inner_01 {
  width: 100%;
  max-width: 1920px;
  height: 25rem;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 3rem;
  margin-top: -7rem;
}
section.section_01 nav.home-nav {
  width: 50%;
}
section.section_01 nav.home-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}
section.section_01 nav.home-nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
}
section.section_01 nav.home-nav ul li a {
  font-size: 6rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
}
section.section_01 nav.home-nav ul li:hover {
  background-color: #19a661;
  transition: all 0.3s;
  transform-origin: 50% 50% 0px;
  background: linear-gradient(to right, #fff 50%, #19a661 50%);
  background-size: 200% 100%;
  background-position-x: -100%;
}
section.section_01 nav.home-nav ul li:hover a {
  color: #fff;
  font-size: 7.5rem;
  transition: font-size 0.5s;
}
section.section_01 .home-article {
  width: 30%;
  font-size: 2rem;
  line-height: 1.4;
}
section.section_01 .home-article b {
  font-weight: 800;
}
section.section_01 .bottom-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19rem;
  font-weight: 900;
  color: #19a661;
  letter-spacing: 0.8rem;
}

.mouse-down-container {
  position: absolute;
  right: 100px;
  bottom: -50px;
  width: 48px;
  height: 48px;
}
.mouse-down-container .back-box,
.mouse-down-container .mouse-down-icon {
  position: absolute;
}
.mouse-down-container .mouse-down-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
}
.mouse-down-container .back-box {
  width: 48px;
  height: 48px;
  background-color: #19a661;
  border-radius: 0.5rem;
  animation: spin 8s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  section.section_01 .bottom-text {
    font-size: 17rem;
  }
}
@media screen and (max-width: 1024px) {
  section.section_01 .inner_01 {
    flex-direction: column;
    gap: 3rem 0;
    max-width: 80rem;
  }
  section.section_01 nav.home-nav {
    width: 100%;
  }
  section.section_01 nav.home-nav ul {
    gap: 0.8rem 0;
  }
  section.section_01 nav.home-nav ul li {
    height: 42px;
  }
  section.section_01 nav.home-nav ul li a {
    font-size: 5rem;
  }
  section.section_01 nav.home-nav ul li:hover a {
    font-size: 6rem;
  }
  section.section_01 .home-article {
    width: 100%;
  }
  section.section_01 .bottom-text {
    font-size: 12rem;
  }
}
@media screen and (max-width: 768px) {
  section.section_01 .inner_01 {
    max-width: unset;
  }
  section.section_01 .bottom-text {
    font-size: 10rem;
    letter-spacing: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  section.section_01 .inner_01 {
    margin-top: -8rem;
  }
  section.section_01 .bottom-text {
    font-size: 7.5rem;
    letter-spacing: -0.1rem;
    padding-bottom: 4rem;
  }
  .mouse-down-container {
    bottom: -110px;
    right: 20px;
  }
}