@import "../../Assets/styles/mixin", "../../Assets/styles/var";

section.section_01 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem 0;
  padding-bottom: 7rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 2.5rem;

  .inner_01 {
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0 3rem;
  }

  nav.home-nav {
    width: 50%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem 0;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 48px;
        a {
          font-size: 6rem;
          font-weight: 800;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem 0 0;
        }

        &:hover {
          background-color: $green;
          transition: all 0.3s;
          transform-origin: 50% 50% 0px;
          background: linear-gradient(to right, #fff 50%, $green 50%);
          background-size: 200% 100%;
          background-position-x: -100%;
          a {
            color: #fff;
            font-size: 7.5rem;
            transition: font-size 0.5s;
          }
        }
      }
    }
  }
  .home-article {
    width: 30%;
    font-size: 2rem;
    line-height: 1.4;

    b {
      font-weight: 800;
    }
  }
  .bottom-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14rem;
    font-weight: 900;
    color: $green;
    letter-spacing: 0.8rem;
  }
}

.mouse-down-container {
  position: absolute;
  right: 0;
  bottom: -90px;
  width: 48px;
  height: 48px;
  .back-box,
  .mouse-down-icon {
    position: absolute;
  }
  .mouse-down-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
  }
  .back-box {
    width: 48px;
    height: 48px;
    background-color: $green;
    border-radius: 0.5rem;
    animation: spin 8s linear infinite;
    width: 100%;
    height: 100%;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  section.section_01 {
    .inner_01 {
      max-width: 65vw;
      flex-direction: column;
      gap: 3rem 0;
    }
    nav.home-nav {
      width: 100%;
      ul {
        gap: 0.8rem 0;
        li {
          height: 42px;

          a {
            font-size: 5rem;
          }
          &:hover {
            a {
              font-size: 6rem;
            }
          }
        }
      }
    }
    .home-article {
      width: 100%;
    }
    .bottom-text {
      font-size: 12rem;
    }
  }
}

@media screen and (max-width: 768px) {
  section.section_01 .bottom-text {
    font-size: 10rem;
    letter-spacing: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  section.section_01 {
    .inner_01 {
      margin-top: -8rem;
    }
    .bottom-text {
      font-size: 7.75rem;
      letter-spacing: -0.1rem;
    }
  }
}
