$orange: #feba69;
$dark-gray: #535358;
$light-gray: #f2f2f2;
$blue: #3261ec;
// $green: #136207;
$green: #19a661;
$sub-grn: #c0f0d9;
$orn: #fda643;
$gray: #a1adc9;
$black: #222;
$red: #ff5560;
$yellow: #ffbe4e;
$bg-color: #fff;
$card-shadow: 0px 3px 10px #0000001f;
$sm-shadow: 0px 2px 8px #00000029;
$xs-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13);
$btn-shadow: 0px 2px 5px #00000029;
